extends ../layout

block content

  each i in files
    img(src=i)

  form(action=`/preset/download/zip/${id}`,
       method="POST")
    a.btn.btn-secondary(href=`/preset/saved/${id}`)= "Back" 
    button.btn.btn-primary= "Download zip"
