extends layout

block content
  .container
    .row
      .col-12
        canvas(id='c')
    form
      +filter('brightness', 'B', -0.2, 0.2, 0, 0.01)
      +filter('contrast', 'C', -0.2, 0.2, 0, 0.01)
      +filter('gamma-red', 'GR', 0.1, 2, 1, 0.01)
      +filter('gamma-green', 'GG', 0.1, 2, 1, 0.01)
      +filter('gamma-blue', 'GB', 0.1, 2, 1, 0.01)
      button#reset= "Reset"
      button#submit= "Download"
  .download
        
mixin filter(name, label, min, max, default_, step=1)
  .form-group.row
    label.col-1.col-form-label= label
    .col-7
      input(type="range" data-filter=name data-default=default_ value=default_ min=min max=max class="slider form-control" step=step style="padding: 0")
    label.col-3.col-form-label


